<%
  require './mes.rb'

  @dias = ["segunda", "terça", "quarta", "quinta", "sexta", "sábado", "domingo"]

  @sala = "Anfiteatro"

  @meses = Array.new

  @mes = Mes.new("janeiro", 31)
  @meses.push(@mes)

  @mes = Mes.new("fevereiro", 28)
  @meses.push(@mes)

  @mes = Mes.new("março", 31)
  @meses.push(@mes)

  @mes = Mes.new("abril", 30)
  @meses.push(@mes)

  @mes = Mes.new("maio", 31)
  @meses.push(@mes)

  @mes = Mes.new("junho", 30)
  @meses.push(@mes)

  @mes = Mes.new("julho", 31)
  @meses.push(@mes)

  @mes = Mes.new("agosto", 31)
  @meses.push(@mes)

  @mes = Mes.new("setembro", 30)
  @meses.push(@mes)

  @mes = Mes.new("outubro", 31)
  @meses.push(@mes)

  @mes = Mes.new("novembro", 30)
  @meses.push(@mes)

  @mes = Mes.new("dezembro", 31)
  @meses.push(@mes)
%>
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <title>Agenda</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <!--
    <% @meses.each do |m| %>
      <%= m.name %>
    <% end %>
    -->

    <div id="content" class="container">

      <h2><%= @sala %> - <%= @mes.name %>/2017</h2>

      <table class="table table-bordered table-condensed" style="margin-top: 30px">
        <thead>
          <tr>
            <th>DIA</th>
            <th>08 - 09h</th>
            <th>09 - 10h</th>
            <th>10 - 11h</th>
            <th>11 - 12h</th>
            <th>12 - 13h</th>
            <th>13 - 14h</th>
            <th>14 - 15h</th>
            <th>15 - 16h</th>
            <th>16 - 17h</th>
            <th>17 - 18h</th>
            <th>18 - 19h</th>
          </tr>
        </thead>
        <tbody>
          // fazer com dias do ano (365)
          <% for day in 1..@mes.length %>
            <tr>
              // fazer com dias do ano (365)
              <th><%= day %> - <%= @dias[(day-1)%7][0..2] %></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </body>
</html>
