<%
  # this is the template file that generates index.html
  # to generate the index.html file, run in the console:
  # ruby main.rb

  require './mes.rb'
  require './diaSemana.rb'

  @dias_semana = Array.new
  @dia = DiaSemana.new("domingo", false)
  @dias_semana.push(@dia)
  @dia = DiaSemana.new("segunda", true)
  @dias_semana.push(@dia)
  @dia = DiaSemana.new("terça", true)
  @dias_semana.push(@dia)
  @dia = DiaSemana.new("quarta", true)
  @dias_semana.push(@dia)
  @dia = DiaSemana.new("quinta", true)
  @dias_semana.push(@dia)
  @dia = DiaSemana.new("sexta", true)
  @dias_semana.push(@dia)
  @dia = DiaSemana.new("sábado", false)
  @dias_semana.push(@dia)

  @meses = Array.new
  @mes = Mes.new("janeiro", 31)
  @meses.push(@mes)
  @mes = Mes.new("fevereiro", 28)
  @meses.push(@mes)
  @mes = Mes.new("março", 31)
  @meses.push(@mes)
  @mes = Mes.new("abril", 30)
  @meses.push(@mes)
  @mes = Mes.new("maio", 31)
  @meses.push(@mes)
  @mes = Mes.new("junho", 30)
  @meses.push(@mes)
  @mes = Mes.new("julho", 31)
  @meses.push(@mes)
  @mes = Mes.new("agosto", 31)
  @meses.push(@mes)
  @mes = Mes.new("setembro", 30)
  @meses.push(@mes)
  @mes = Mes.new("outubro", 31)
  @meses.push(@mes)
  @mes = Mes.new("novembro", 30)
  @meses.push(@mes)
  @mes = Mes.new("dezembro", 31)
  @meses.push(@mes)

  @bg_color_gray = 'style="background-color: #f3f3f3;"'
  @salas = ["Anfiteatro", "Sala de Reuniões", "Sala 225"]
  @dias_ano = 365
  @dia = 0 # use this variable to count from day 1 to 365
%>
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <title>Agenda</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div id="content" class="container">

      <% @salas.each do |sala| %>
        <% @dia = 0 %>
        <% @meses.each do |mes| %>

          <div class="mes">
            <h2><%= sala %> - <%= mes.name %>/2017</h2>

            <table class="table table-bordered table-condensed" style="margin-top: 30px">
              <thead>
                <tr>
                  <th>DIA</th>
                  <th>08 - 09h</th>
                  <th>09 - 10h</th>
                  <th>10 - 11h</th>
                  <th>11 - 12h</th>
                  <th>12 - 13h</th>
                  <th>13 - 14h</th>
                  <th>14 - 15h</th>
                  <th>15 - 16h</th>
                  <th>16 - 17h</th>
                  <th>17 - 18h</th>
                  <th>18 - 19h</th>
                </tr>
              </thead>
              <tbody>
                <% for day in 1..mes.length %>
                  <tr>
                    <%
                    @dia = @dia + 1
                    @ds = @dias_semana[(@dia-1)%7]
                    @style = @ds.diaUtil ? "" : @bg_color_gray
                    %>
                    <th <%= @style %> > <%= day %> - <%= @ds.name[0..2] %></th>
                    <td <%= @style %> ></td>
                    <td <%= @style %> ></td>
                    <td <%= @style %> ></td>
                    <td <%= @style %> ></td>
                    <td <%= @style %> ></td>
                    <td <%= @style %> ></td>
                    <td <%= @style %> ></td>
                    <td <%= @style %> ></td>
                    <td <%= @style %> ></td>
                    <td <%= @style %> ></td>
                    <td <%= @style %> ></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
